<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hy.myapp">

    <!-- 用户权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.hy.myapp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name="com.hy.myapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hy.myapp.activity.ActivityStatusTestActivity" />
        <activity android:name="com.hy.myapp.activity.FragmentStatusActivity" />
        <activity android:name="com.hy.myapp.activity.PictureTestActivity" />
        <activity android:name="com.hy.myapp.activity.LoadingTestActivity" />
        <activity android:name="com.hy.myapp.activity.DialogTestActivity" />
        <activity android:name="com.hy.myapp.activity.MyDialogTestActivity" />
        <activity android:name="com.hy.myapp.activity.WheelTestActivity" />
        <activity android:name="com.hy.myapp.activity.LabelViewTestActivity" />
        <activity android:name="com.hy.myapp.activity.SnackBarTestActivity" />
        <activity android:name="com.hy.myapp.activity.BannerTestActivity" />
        <activity android:name="com.hy.baseapp.activity.IndexHomeActivity" />
        <activity android:name="com.hy.baseapp.activity.IndexTabActivity" />
        <activity android:name="com.hy.myapp.activity.IndexTestHomeActivity" />
        <activity android:name="com.hy.myapp.activity.IndexTestCarActivity" />
        <activity android:name="com.hy.myapp.activity.IndexTestMessageActivity" />
        <activity android:name="com.hy.myapp.activity.IndexTestMeActivity" />
        <activity android:name="com.hy.baseapp.activity.TabLayoutActivity" />
        <activity android:name="com.hy.baseapp.activity.TabLayoutMeActivity" />
        <activity android:name="com.hy.myapp.activity.PaletteTestActivity" />
        <activity android:name="com.hy.myapp.activity.PaletteListTestActivity" />
        <activity android:name="com.hy.myapp.activity.FileDownloadTestActivity" />
        <activity android:name="com.hy.myapp.activity.SlidingMenuTestActivity" />
        <activity android:name="com.hy.myapp.activity.RetrofitTestActivity" />
    </application>

</manifest>